body {
    margin: 0px;
    background-color: #090909;
}

.grid-container {
    display: grid;
    grid-gap: 12px;
    width: 298px;
    height: 298px;
    grid-template-columns: auto auto auto auto;
    /*    background-color: #2196F3;*/
    padding: 0px;
    margin: 12px;
}

.grid-item {

    border: 1px solid rgba(0, 0, 0, 0.8);

background-image: linear-gradient(to right top, #051937, #192b4a, #2b3d5e, #3d5172, #506687);

/*

box-shadow: inset 0px 0px 0px 1px #757575;
-webkit-box-shadow: inset 0px 0px 0px 1px #757575;
-moz-box-shadow: inset 0px 0px 0px 1px #757575;
-o-box-shadow: inset 0px 0px 0px 1px #757575;
*/


    font-size: 10px;
    text-align: right;
    color: aliceblue;
    font-family: 'Quicksand', sans-serif;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border-width: 2px;

    border-color: black;

}
