body {
    margin: 0px;
    background-color: #090909;
    color: aliceblue;
    font-family: 'Orbitron', sans-serif;
}

.grid-container {
    display: grid;
    grid-gap: 12px;
    width: 298px;
    height: 298px;
    grid-template-columns: auto auto auto auto;
    /*    background-color: #2196F3;*/
    padding: 0px;
    margin: auto;
    margin-bottom: 20px
}

.grid-item {

    border: 1px solid rgba(0, 0, 0, 0.8);

    background-color: rgb(46, 58, 71);

    /*
box-shadow: inset 0px 0px 0px 1px #757575;
-webkit-box-shadow: inset 0px 0px 0px 1px #757575;
-moz-box-shadow: inset 0px 0px 0px 1px #757575;
-o-box-shadow: inset 0px 0px 0px 1px #757575;
*/
    padding-right: 3px;
    font-size: 8px;
    text-align: right;
    /*    color: aliceblue;*/
    font-family: 'Orbitron', sans-serif;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border-width: 2px;

    border-color: black;

}

#play {
    padding-left: 30px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    display: block;
    margin: auto;
    margin-top: 10px;
    -webkit-appearance: none;
    width: 80%;
    height: 7px;
    background: aliceblue;
    outline: none;
/*    opacity: 0.7;*/
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #54D6BD;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #54D6BD;
    cursor: pointer;
}

.tempo-container {
    display: block;
    margin-top: 15px;
}

/*
.tempo-text {
    width: 10px;
}*/

#container {
    display: block;
    max-width: 375px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 1.5em;
}

.ctrlSound {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 298px;
    margin: auto;
}

.ctrlPlay {
    width:  100px;
    display: block;
    margin: auto;
}

.plyText {
    margin-bottom: 7px;
    padding-bottom: 0px;
    font-size: 0.9em;
    text-align: center;
}

hr {
    width: 298px;
}

.plyBtn {
    display: block;
    margin: auto;
}
